<nav class="bg-slate-50 fixed w-full top-0 transition-all duration-300 opacity-90"
    [ngClass]="{'navbar-hidden': !isNavbarVisible}">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-center">
                <div class="sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a routerLink="/"
                            class="px-3 py-2 rounded-md text-sm font-medium text-black  hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Blogs</a>
                        <a routerLink="/generate-blog"
                            class="px-3 py-2 rounded-md text-sm font-medium text-black hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Generate
                            Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>