<div class="bg-white rounded-lg shadow-md overflow-hidden mx-3 my-3">
    <img [src]="blog.imageUrl" alt="Blog post image" class="w-full h-40 object-cover">
    <div class="p-6">
        <h2 class="text-xl font-bold mb-2">{{ blog.title }}</h2>
        <p class="text-gray-700 text-base mb-4">{{ blog.description }}
            <span class="text-gray-400 text-sm ">Published {{ blog.createdAt | timeSince}}</span>
        </p>
        <a [routerLink]="['/blogs', blog._id]" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="text-black rounded-lg px-4 py-2 hover:bg-black hover:text-white transition-colors duration-300">Read
            More</a>
    </div>
</div>